
body {
  padding-top:50px;
  background:url(tarde.jpg);
  font-family: 'Chango', cursive;
  /* make our image 100% width */
  background-size:cover; 
}

h1 {
  font-family:'Chango';
  font-size:50px;  

  /* set the background gradient */
background: #bf2626; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #bf2626 12%, #e8de2c 43%, #eeefc2 62%, #bf3124 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(12%,#bf2626), color-stop(43%,#e8de2c), color-stop(62%,#eeefc2), color-stop(87%,#bf3124)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #bf2626 12%,#e8de2c 43%,#eeefc2 62%,#bf3124 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #bf2626 12%,#e8de2c 43%,#eeefc2 62%,#bf3124 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #bf2626 12%,#e8de2c 43%,#eeefc2 62%,#bf3124 87%); /* IE10+ */
background: linear-gradient(135deg,  #bf2626 12%,#e8de2c 43%,#eeefc2 62%,#bf3124 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2626', endColorstr='#bf3124',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  /* set the animation */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation:moving 10s ease infinite;
}

/* create the animation */
@-webkit-keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1600px 0 ;
  }