

body {
  padding-top:50px;
  background:url(flores.jpg);
  font-family: 'Chango', cursive;
  /* hace que nuestra imagen tenga un ancho del 100%*/
  background-size:cover; 
}

h1 {
  font-family:'Chango';
  font-size:50px;  

  /* colocamos imagen de fondo */
  background:url(palmas.jpg);
  background-position:bottom;
  background-size:cover;

  /* la velocidad de transicion */
  transition:8s ease all;
  /*asignamos el fondo a el texto*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* al hacer hover sobre el texto movemos la posicion de la imagen */
h1:hover {
  background-position:top;
}